.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 600px;
  margin: 0 auto;
  padding: 40px 0px;
  position: relative;
}

.btn {
  padding: 8px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  background-color: lightskyblue;
  text-align: center;
  cursor: pointer;
  opacity: 0.8;
}

.btn:hover {
  opacity: 1;
}

.alert {
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -100%);
  text-align: center;
  border-radius: 0 0 8px 8px;
  padding: 5px;
  color: white;
  transition: .3s;
}

.alert.error {
  background-color: rgb(187, 50, 50);
  transform: translate(-50%, 0);
}

.alert.success {
  background-color: rgb(71, 143, 71);
  transform: translate(-50%, 0);
}

.valid-helper {
  color: red
}

.file {
  margin: 0 0 10px;
}